<h2>
  DashBoard  <a routerLink="/logout">Logout</a>
</h2>
<div class="row">
<div class="col-6">
<app-pret></app-pret>
<app-supmodif></app-supmodif>
</div>
<div class="col-6">
  <app-adherent></app-adherent>
</div>
<div class="col-12">
  <app-jeu></app-jeu>
</div>
</div>
<h3 class="mt-5">:: Total compta : {{total}} euros</h3>
<h5>(Par Defaut) Depuis le mois dernier au mois suivant (2 mois)</h5>
<form (submit)="affprets($event)">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="date_start">date Début</label>
      <input type="date" class="form-control" id="date_start">
    </div>
    <div class="col-md-6 mb-3">
      <label for="date_end">date Fin</label>
      <input type="date" class="form-control" id="date_end">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Afficher</button>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Référence</th>
      <th scope="col">Nom du Jeu</th>
      <th scope="col">Date de retour</th>
      <th scope="col">nom(s) adhérent</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let recz of tabprets">
      <th scope="row">{{recz.ref_jeu}}</th>
      <td>{{recz.nom_jeu}}</td>
      <td>{{recz.date_retour}} (Année Mois Jour)</td>
      <td>{{recz.noms_adherent}}</td>
      <td>{{recz.prix}}</td>
    </tr>
  </tbody>
</table>
