<h3 class="mt-4">
  Ajouter un adhérent </h3>
  <form (submit)="addad($event)">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="prenoms_enfants">prenoms_enfants</label>
        <input type="text" class="form-control" id="prenoms_enfants" placeholder="prenoms_enfants">
      </div>
      <div class="form-group col-md-12">
        <label for="prenoms_responsables">prenoms_responsables</label>
        <input type="text" class="form-control" id="prenoms_responsables" placeholder="prenoms_responsables">
      </div>
      <div class="form-group col-md-9">
        <label for="noms_adherent">noms_adherent</label>
        <input type="text" class="form-control" id="noms_adherent" placeholder="noms_adherent">
      </div>
      <div class="form-group col-md-3">
        <label for="id_adh">id_adh</label>
        <input type="text" class="form-control" id="id_adh" placeholder="id">
      </div>
      <div class="form-group col-md-3">
        <label for="date_adh">date_adh</label>
        <input type="text" class="form-control" id="date_adh" placeholder="date_adh">
      </div>
      <div class="form-group col-md-3">
        <label for="type_adh">type_adh</label>
        <input type="text" class="form-control" id="type_adh" placeholder="type_adh">
      </div>
      <div class="form-group col-md-3">
        <label for="code_postal">code_postal</label>
        <input type="text" class="form-control" id="code_postal" placeholder="code_postal">
      </div>
      <div class="form-group col-md-3">
        <label for="ville">ville</label>
        <input type="text" class="form-control" id="ville" placeholder="ville">
      </div>
      <div class="form-group col-md-6">
        <label for="alias">Alias ou email</label>
        <input type="text" class="form-control" id="alias" placeholder="Alias ou email">
      </div>
      <div class="form-group col-md-6">
        <label for="passwordadd">Password</label>
        <input type="password" class="form-control" id="passwordadd" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="num_tel">num_tel</label>
        <input type="text" class="form-control" id="num_tel" placeholder="num_tel">
      </div>
      <div class="form-group col-md-6">
        <label for="num_portable">num_portable</label>
        <input type="text" class="form-control" id="num_portable" placeholder="num_portable">
      </div>
      <div class="form-group col-md-12">
        <label for="adresse">adresse</label>
        <input type="text" class="form-control" id="adresse" placeholder="adresse">
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
