<div class="col-12">
<p>Jeux Disponibles</p>

<form (submit)="catchoose($event)">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="submit" class="btn btn-outline-secondary">Catégorie</button>
  </div>
  <select class="custom-select" id="selcat">
    <option selected>Choix...</option>
    <option  *ngFor= "let cat of tabcat" value="{{cat.code_cat}}">{{cat.code_cat}} - {{cat.nom_categorie}}</option>
  </select>
</div>
<!--
<ul>
    <li *ngFor="let x of rec">{{x.ref_jeu}}, {{x.nom_jeu}}</li>
</ul>
-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Référence</th>
      <th scope="col">Nom du jeu</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let recz of rec">
      <th scope="row">{{recz.ref_jeu}}</th>
      <td>{{recz.nom_jeu}}</td>

    </tr>
  </tbody>
</table>
</form>
</div>
